##############################################################################
# unittest configuration
#
# [unittest_name]
# file = <name>.flat		# Name of the flat file to be used.
# smp  = <num>			# Number of processors the VM will use
#				# during this test. Use $MAX_SMP to use
#				# the maximum the host supports. Defaults
#				# to one.
# extra_params = -append <params...>	# Additional parameters used.
# arch = ppc64				# Select one if the test case is
#					# specific to only one.
# groups = <group_name1> <group_name2> ...	# Used to identify test cases
#						# with run_tests -g ...
# accel = kvm|tcg		# Optionally specify if test must run with
#				# kvm or tcg. If not specified, then kvm will
#				# be used when available.
# timeout = <duration>		# Optionally specify a timeout.
##############################################################################

#
# Test that the configured number of processors (smp = <num>), and
# that the configured amount of memory (-m <MB>) are correctly setup
# by the framework.
#
[selftest-setup]
file = selftest.elf
smp = 2
extra_params = -m 256 -append 'setup smp=2 mem=256'
groups = selftest

[spapr_hcall]
file = spapr_hcall.elf

[rtas-get-time-of-day]
file = rtas.elf
timeout = 5
extra_params = -append "get-time-of-day date=$(date +%s)"
groups = rtas

[rtas-set-time-of-day]
file = rtas.elf
extra_params = -append "set-time-of-day"
timeout = 5
groups = rtas
